:root {
  --rv-primary-color: linear-gradient(to right, rgba(237, 204, 154, 1), rgba(236, 40, 111, 1));
  --rv-button-border-radius: 8px;
  --rv-button-primary-color: rgba(23, 23, 39, 1);
  --rv-button-normal-font-size: 16px;
}